.logo-style {
	margin-left: 0px;
}

.twitter-style {
	width: 32px;
}
.facebook-style {
	width: 32px;
}
.banner-style {
	background-color:#8FA8C2;
}
.header {
    background: url("/images/new-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 61%;
}
