/*@import "resources/assets/materialize-src/sass/materialize";*/

.logo {
	height: 200px;
}
.location, .results {
	margin-top: 20px;
	margin-bottom: 20px;
}
.map-container {
	height: 200px;
}
#map {
	height: 100%;
	width: 100%;
}
.status {
	padding: 10px 20px;
}
.status-wrapper {
	margin: 15px 0;
}
.table>tbody>tr>td {
	font-size: 16px;
	vertical-align: middle;
}
.results {
	@media only screen and (max-width: 600px){
		td {
			display: block;
			padding: 5px 0;
		}
		tr+tr {
			border-top: 1px solid #CCC;
		}
		td:first-child {
			font-size: 1.5em;
			padding-top:10px;
		}
		td:nth-child(3):before {
			content: "-";
			margin-left: 5px;
			margin-right: 5px;
		}
		td:nth-child(2), td:nth-child(3) {
			display:inline-block;
		}
		td:last-child {
			font-size: 2em;
			padding-bottom:10px;
		}
		td:empty {
			display: none;
		}
	}
}

@media only screen and (min-width: 993px) {
	.container {
		width: 80%;
	}
}

.edit .input-field {
	margin-top: 3rem;
}